@mixin focus {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical-focus {
  @include focus;
  flex-direction: column;
}

.horizontal-focus {
  @include focus;
  flex-direction: row;
}

.push-bottom-30 {
  margin-bottom: 30vh;
}
